.convertor {
  @apply w-full;
  &__body {
    @apply flex flex-col items-center w-full mx-auto;
    max-width: 900px;
    @include adaptiv-indent(padding, 50, 25, 5, 5, 1);
  }
  &__title {
    @apply mb-5 text-center font-bold;
    @include adaptiv-value(font-size, 30, 25, 1);
    text-align: center;
  }
  &__items {
    @apply w-full flex flex-col gap-y-3 relative;
    &.reverse {
      & .convertor__item:first-child {
        transform: translateY(calc(100% + 12px));
      }

      & .convertor__item:last-child {
        transform: translateY(calc(-100% - 12px));
      }
    }
  }
  &__item {
    @apply relative flex flex-col w-full rounded-2xl text-black bg-white;
    @include adaptiv-indent(padding, 40, 20, 60, 25, 1);
    transition: all 0.5s ease 0s;
  }
  &__subtitle {
    @apply text-xl mb-2;
  }
  &__field {
    @apply flex justify-between items-center;

    input {
      @apply bg-transparent text-xl;
      border-bottom: 2px solid #000;
    }
  }
  &__icon {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-12 h-12 rounded-full z-20 flex items-center justify-center;
    @include adaptiv-value(font-size, 25, 20, 1);
    background: $colorBg;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        background: #2f3038;
      }
    }

    &.rotate {
      @apply rotate-180;
    }
  }
}
